@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  
  font-family: 'Roboto', sans-serif; 
  background-color: #00012a;
}
h1{
    color: aliceblue;
}

.button{
  background-color: orangered;
  width: 66px;
  font-size: 24px;
  font-weight: 800;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 25px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

/* utilses classes and css */
.text-center{
  text-align: center;
}

.bg-red{
  background: rgb(0, 0, 0);
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
.font-size{
font-size: 24px;
}